*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
ul{
    list-style: none;
    background-color: brown;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: aquamarine;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background: #111;
    position: absolute;
    z-index: 999;
    display: none; 
}
ul li a:hover{
    background: #000;
}
ul li:hover ul.dropdown{
    display: block;
}